/* Variables */

/* Mixins */
/* Imports */
@import "../node_modules/bootstrap/scss/bootstrap";

header {
  background-color: white;

  nav{
    a{
      margin: 5% 7% 5% 7%;
      font-size: 20px;
      font-family: "Segoe UI";
      font-weight: bold;
      color: black;

    }
  }
  .logo {
    img {
      width: 80%;
      height: auto;
      margin-left: 10%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
}

.active{

}

footer{
  background-color: black;
  color: white;
  div{
    ul{
    list-style: none;
      padding: 15px;
    li{
    }
    .line{
      border-left: 6px white;
      height: 10px;
      background-color: white;
      width: 2px;
    }
  }
  }


}

@media screen and (min-width: 768px){
  nav{
    a{
      margin: 5% 7% 5% 7%;
      font-size: 25px!important;
      font-family: "Segoe UI";
      font-weight: bold;
      color: black;

    }
  }
  .logo {
    img {
      width: 60%!important;
      height: auto;
      margin-left: 20%!important;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
}

@media screen and(min-width: 1200px) {
  nav {
    a {
      margin: 2% 7% 2% 7%!important;
      font-size: 30px !important;
      font-family: "Segoe UI";
      font-weight: bold;
      color: black;

    }
  }
  .logo {
    img {
      width: 40%!important;
      height: auto;
      margin-left: 30%!important;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
}



